<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('partials/navigation.ejs') %>
        <h1>List</h1>
        <ul>
            <% students.forEach(student => { %>
                <li>
                    <p><%= student.fullName %></p>
                    <p><%= student.code %></p>
                    <p><%= student.fieldOfStudies %></p>
                </li>
            <% }); %>
        </ul>
    </body>
</html>